body{
  display: grid;
  grid-template-areas: "menu HeroContent"
                        "menu content";
  grid-template-columns: 30vw 70vw;
  grid-template-rows: 60vh 40vh;
}

.menu{
  display:grid;
  grid-area: menu;
  padding: 2em;
  justify-content: center;
  align-items: center;
  border: 1px solid red;

}
.playlist{
  height: 80vh;
}
.list{
  height: 50vh;
}
.playlistAmigos{
  height: 40vh;
}
.HeroContent{
  display:grid;
  grid-area: HeroContent;
border: 1px solid red;
}
.content{
  display:grid;
  grid-area: content;
  border: 1px solid red;
}
